body {
    background-image: url("/images/background.jpg");
    background-attachment: fixed;
}

.margin-block {
    margin-top: 30px;
}

.block {
    display: inline-block;
    margin: 100px;
    width: 250px;
    vertical-align: top
}

.object-info {
    margin-top: 30px;
}

.text {
    word-break: break-all;
}

.address {
    margin-top: 30px;
}

.coords {
    font-size: 20px;
    font-style: oblique;
}

.center-button {
    margin-left: 60px;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.center {
    margin: 0 auto;
    max-width: 1000px;
}

.images {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 1000px;
}

.description {
    font-size: 20px;
}

.admin {
    position: fixed;
    right: 40px;
    top: 20px;
}

.adding {
    position: fixed;
    right: 40px;
    top: 60px;
}